@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'courier-std', monospace;
    margin: 0;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

.dropdown-item:active {
    background: #DCDCDC;
}

.dropdown-item{
    font-weight: 700;
    padding: 0;
}

.dropdown-menu{
    padding: 0;
    border: 2px solid #DCDCDC;
    border-radius: 0;
}

.breakpoint-2 .dropdown-menu{
    right: -50px!important;
    left: unset;
}

