@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'courier-std', monospace;
    margin: 0;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

.pdf-container {
    width: calc(100vw - 5px);
    height: calc(100vh - 100px);
}

@media only screen and (max-width: 600px) {
    .pdf-container {
        width: calc(100vw - 5px);
        height: calc(100vh - 20px);
    }
}

